figcaption {
  font-size: 11px;
    color: #144a82;
    line-height: 14px;
}
.container {
  margin: auto;
  padding: auto;
max-width: 1280px;
width: 100%;
display: inline-block;
}
#Liste {
  list-style: none;
display: inline-block;
margin-right: 50px;
}
a:link {
  text-decoration: none;
}
.usernav li a {
    color: #144a82;
  }
.phone-number {
  color: #144a82;
    font-size: 20px;
    font-weight: 700;
    padding-right: 5px;
    font-weight: bold;
    float: left;
}
#Liste2 {
  padding: 0 16px;
    border-right: 1px solid #fff;
    text-decoration: none;
    line-height: 24px;
    color: red;
    background-color: #253B83;
    display:block;
    float:left;
 font-size: 14px;

}
#blanc {
  color:white;
}
#teste {
  background: #144a82 none repeat scroll 0 0;
    bottom: 10px;
    font-size: 13px;
    height: 25px;
    list-style-type: disc;
    margin-bottom: 0;
    margin-top: 8px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    width: calc(100% - 35px);
    z-index: 2;
    float: right;
    list-style: none;
    color: #fff;
    padding-left: 20px;
}
.back  {
background-size: cover;
background-repeat: no-repeat;
margin-top: 20px;
}
